.container {
    padding: 1em;
}

/* Logo */

.logo {
    position: fixed;
    top: 2.5em;
    left: 4.5em;
}

.logo img {
    width: 24px;
}

/* Content */

.content {
    width: 66%;
    margin: 2.75em auto 0;
}

/* Heading */

.heading p {
    min-width: 375px;
    width: 58%;
    font-size: .95rem;
    color: #2b2b2b;
    line-height: 1.55em;
}

.email {
    margin-left: .5em;
    border-bottom: 1px solid rgb(48, 48, 48);
}

.email a {
    display: inline-block;
}

/* Form */

.form {
    margin-top: 3em;
    width: 95%;
}

/* Input Group */

.inputGroup {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
}

.formInput {
    width: 80%;
    max-width: 350px;
}

.formInput,
.formTextarea {
    display: flex;
    flex-direction: column;
}

.formInput label,
.formTextarea label {
    font-size: .75rem;
    margin-bottom: .4em;
    color: gray;
}

.formInput input,
.formTextarea textarea {
    border: .15em solid #828282;
    padding: .75em 1em;
}

.buttonRow {
    width: 100%;
    text-align: end;
}

.form button {
    font-size: .925rem;
    padding: .5em 1em;
    margin-top: 1em;
    background: #000;
    color: #fff;
    border-radius: 0;;
}

/* Media Queries */

@media screen and (min-width: 769px) {
    .form {
        margin-top: 5.5em;
        flex: 1;
    }

    .inputGroup {
        grid-template-columns: repeat(2, 1fr);
        gap: 2em 3em;
    }

    .formInput {
        width: auto;
        max-width: none;
    }

    .formTextarea {
        grid-column: 1 / span 2;
    }
}

@media screen and (min-width: 850px) {
    .inputGroup {
        gap: 2em 4em;
    }
}