.container {
    padding: 1em;
}

/* Text */

.logo {
    position: fixed;
    top: 2.5em;
    left: 4.5em;
}

.logo img {
    width: 24px;
}

/* Content */

.content {
    width: 66%;
    margin: 2.75em auto 0;
}

/* About */

.about p {
    min-width: 375px;
    width: 58%;
    font-size: .925rem;
    line-height: 1.5em;
}

.learn {
    margin-left: .5em;
    border-bottom: 1px solid rgb(48, 48, 48);
}

/* Projects */

.projects {
    width: 95%;
    margin-top: 5em;
}

.projectItem {
    margin-bottom: 7em;
}

.projectImage {
    margin-bottom: .75em;
    border: 1px solid rgb(247, 247, 247);
}

.projectTitle {
    font-size: .85rem;
    margin-left: .5em;
}

/* Media Queries */

@media screen and (min-width: 501px) {
}