.block {
    margin-bottom: 2em;
}

.block h2 {
    font-size: .975rem;
    font-weight: 700;
    margin-bottom: .75em;
}

.blockList {
    margin-left: .5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.blockList,
.blockList a,
.blockList p,
.blockList div {
    font-size: .875rem;
    padding-bottom: .45em;
}