* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, p, a, div, input, label, button {
    font-family: 'Source Code Pro', sans-serif;
}

h2 {
    color: hsl(0, 0%, 14%);
    margin: 0;
}

p, a, div {
    color: #545454;
    margin: 0;
}

p {
    line-height: 1.15em;
}

a {
    text-decoration: none;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
} 

::selection {
    background: #000;
    color: #fff;
}